@import '../../node_modules/foundation-sites/scss/foundation';
@import '../_modules/vignette/vignette';


// @include foundation-grid;
@include foundation-everything(true);

//$topbar-background: #000;

.title-bar {
  background-color: #000;
}

.title-bar-right img {
  width: auto;
  height: 30px;
}

#dyou {
  background-color: #000;
  margin-bottom: 20px;

  h1 {
    color: #fff;
    font-size: 32px;
    margin-top: 10px;
  }

  .row {
    height: 70vh;
  }
}

.headband {
  h2 {
    font-size: 28px;
  }

  img {
    margin-left: 20px;
    width: 50px;
  }

  hr {
    height: 4px;
    background-color: #000;
  }
}

section {
  padding: 20px 0;
}

.logos {
  margin: 40px 0;

  img {
    width: auto;
    height: 40px;
  }
}


#technologies h4 {
  display: none;
}

#technologies .logos:hover {
  img {
    transform: rotate3d(0, 1, 0, 360deg);
    transition-duration: 1s;
    opacity: 0;
    position: relative;
  }

  h4 {
    display: block;
    position: absolute;
  }
}






